<section class="section ">
    <div class="container">
      <div class="row mb-5 justify-content-center element-animate">
        <div class="col-md-12">
          <h2>Latest Events</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4 mb-4 element-animate">
          <div class="media custom-media">
            <img class="mr-3" width="30" src="./assets/img/img_1.jpg" alt="Generic placeholder image">
            <div class="media-body">
              <h3 class="mt-0"><a href="#">Prayer &amp; Devotional for Children</a></h3>
              <p class="post-meta">May 12, 2018, <a href="#">Children Ministries</a></p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed obcaecati, totam recusandae iure non nemo.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4 element-animate">
          <div class="media custom-media">
            <img class="mr-3" width="30" src="./assets/img/img_2.jpg" alt="Generic placeholder image">
            <div class="media-body">
              <h3 class="mt-0"><a href="#">We Must Walk In The Middle of The Road</a></h3>
              <p class="post-meta">May 12, 2018, <a href="#">Missions</a></p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed obcaecati, totam recusandae iure non nemo.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4 element-animate">
          <div class="media custom-media">
            <img class="mr-3" width="30" src="./assets/img/img_3.jpg" alt="Generic placeholder image">
            <div class="media-body">
              <h3 class="mt-0"><a href="#">Tracts Giving</a></h3>
              <p class="post-meta">May 12, 2018, <a href="#">Care Ministry</a></p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed obcaecati, totam recusandae iure non nemo.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>