<footer class="site-footer" role="contentinfo">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-4 mb-5">
          <h3>THE CARING SAINTS MINISTRY</h3>
          <p class="mb-5">Fragnance of his knowledge</p>
          <ul class="list-unstyled footer-link d-flex footer-social">
            <li><a href="#" class="p-2"><span class="fa fa-twitter"></span></a></li>
            <li><a href="#" class="p-2"><span class="fa fa-facebook"></span></a></li>
            <li><a href="#" class="p-2"><span class="fa fa-linkedin"></span></a></li>
            <li><a href="#" class="p-2"><span class="fa fa-instagram"></span></a></li>
          </ul>

        </div>
        <div class="col-md-2 mb-5">
          <h3>The Church</h3>
          <ul class="list-unstyled footer-link">
            <li><a routerLink="/about">About Us</a></li>
            <li><a href="#">Organizational Chart</a></li>
            <li><a routerLink="/events">Events</a></li>
            <li><a routerLink="/contact">Contact</a></li>
          </ul>
        </div>
        <div class="col-md-2 mb-5">
          <h3>Messages</h3>
          <ul class="list-unstyled footer-link">
            <li><a routerLink="/ministries">Audio Sermons</a></li>
            <li><a routerLink="/ministries">Past Messages</a></li>
            <li><a routerLink="/ministries">Bibe Reading</a></li>
            <li><a routerLink="/ministries">End Time Prophecies</a></li>
          </ul>
        </div>
        <div class="col-md-4 mb-5">
          <h3>Visit or Talk to Us</h3>
          <ul class="list-unstyled footer-link">
            <li class="d-block">
              <span class="d-block">Address:</span>
              <span class="text-white">7 Ilupewo Avenue Harmony Estate, Sango-Otta Ogun State, Nigeria</span></li>
            <li class="d-block"><span class="d-block">Telephone:</span><span class="text-white">+1 242 4942 290</span></li>
            <li class="d-block"><span class="d-block">Email:</span><span class="text-white">info@yourdomain.com</span></li>
          </ul>
        </div>
        
      </div>
      <div class="row">
        <div class="col-12 text-md-left text-left">
          <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy; {{ date() }}; All rights reserved | This website is made with <a href="https://colorlib.com" target="_blank"><i class="fa fa-heart-o" aria-hidden="true"></i></a> by Moostee
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </div>
      </div>
    </div>
  </footer>
