<section class="section bg-light">
    <div class="container">
      <div class="row mb-5 justify-content-center">
        <div class="col-md-8  text-center">
          <h2>Personal Testimony</h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-7">
          <div class="owl-carousel testimony-slider">
            <div>
              <img src="./assets/img/pastor_1.jpg" alt="Image placeholder">
              <blockquote>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate quas numquam illum dolore explicabo, nobis, a dolorum inventore unde est, eveniet optio facere harum quo maiores ex quos perspiciatis? Dolor.</p>
              </blockquote>
              <p>&mdash; Jeremy Watson</p>
            </div>
            <div>
              <img src="./assets/img/pastor_2.jpg" alt="Image placeholder">
              <blockquote>
                <p>Tenetur quisquam sint ad sunt ducimus tempore dolorem officia, dolor ut maxime repellendus dolores molestias libero quia, illo sit porro consectetur. Minima voluptatum, odit ab eaque quidem autem magni tempora!</p>
              </blockquote>
              <p>&mdash; Albert White</p>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>
