<section class="section element-animate">
    <div class="container">
      <div class="row mb-5 justify-content-center">
        <div class="col-md-12">
          <h2>Get In Touch</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
        <form action="#" method="post">
          
          <div class="row mb-4">
            <div class="col-md-4 mb-md-0 mb-4">
              <input type="text" class="form-control" placeholder="Full Name">
            </div>
            <div class="col-md-4 mb-md-0 mb-4">
              <input type="text" class="form-control" placeholder="Email Address">
            </div>
            <div class="col-md-4 mb-md-0 mb-4">
              <input type="text" class="form-control" placeholder="Phone">
            </div>
          </div>
          <div class="row mb-4">
            <div class="col-md-12">
              <textarea name="#" id="" class="form-control" placeholder="Write some words of encouragement" cols="30" rows="10"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <input type="submit" class="btn btn-primary btn-block" value="Send Message">
            </div>
          </div>
          
          
        </form>
        </div>

      </div>

      
    </div>
  </section>
  
  <!-- END section -->

  