<header role="banner">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand absolute"[routerLink]="['/home']"> <img src="../../../assets/img/logo.png" width="80px" height="80px" alt="TCSM" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample05">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" routerLinkActive="active" [routerLink]="['/ministries']" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Messages</a>
              <div class="dropdown-menu" aria-labelledby="dropdown04">
                <a class="dropdown-item" routerLink="/ministries">Audio Sermons</a>
                <a class="dropdown-item" routerLink="/ministries">Past Messages</a>
                <a class="dropdown-item" routerLink="/ministries">Bible Reading</a>
                <a class="dropdown-item" routerLink="/ministries">End Time Prophecy</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/events" routerLinkActive="active">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
            </li>
          </ul>
          
        </div>
      </div>
    </nav>
  </header>
  <!-- END header -->
