<section class="element-animate worship-time">
      
    <div class="half d-md-flex d-block">
      <div class="bg campmeeting" style="background-image: url(./assets/img/event_campmeeting.jpg);">
        <h2>Camp Meeting Will Start Soon</h2>
        <div class="mb-3" id="date-countdown"></div>
        <p><a href="#" class="btn btn-white btn-outline-white">Join Now</a></p>
      </div>
      <div>
        <h2 class="mb-5">Upcoming Events</h2>
        <a href="#" class="event-list-item first">
          <span class="date">APR 14</span>
          <p>Child Dedication</p>
          <span class="more">More Info</span>
        </a>
        <a href="#" class="event-list-item">
          <span class="date">APR 14</span>
          <p>Church Fellowship</p>
          <span class="more">More Info</span>
        </a>
        <a href="#" class="event-list-item">
          <span class="date">APR 14</span>
          <p>Mass Baptism</p>
          <span class="more">More Info</span>
        </a>
        <a href="#" class="event-list-item">
          <span class="date">APR 14</span>
          <p>School of the Prophets</p>
          <span class="more">More Info</span>
        </a>
      </div>
    </div>

  </section>
  