<section class="section pt-5 pb-2 bg-light">
    <div class="container">
      <div class="row mb-5 justify-content-center element-animate">
        <div class="col-md-12">
          <h2>Audio Sermons</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6 col-lg-4 mb-5">
          
          <div class="sermon element-animate">
            <img src="./assets/img/img_1.jpg" alt="" class="img-fluid">
            <div class="sermon-text">
          <h2><a href="#">Arise, Shine</a></h2>
          <p class="sermon-meta">by <a href="#">Luis Matthew</a> on March 28, 2018</p>
          </div>
          <div class="player">
              <audio id="player2" preload="none" controls style="max-width: 100%">
                  <source src="http://www.largesound.com/ashborytour/sound/AshboryBYU.mp3" type="audio/mp3">
              </audio>
          </div>
          </div>

        </div>
        <div class="col-12 col-sm-6 col-lg-4 mb-5">
          
          <div class="sermon element-animate">
            <img src="./assets/img/img_2.jpg" alt="" class="img-fluid">
            <div class="sermon-text">
          <h2><a href="#">Filled in Him</a></h2>
          <p class="sermon-meta">by <a href="#">Luis Matthew</a> on March 28, 2018</p>
          </div>
          <div class="player">
              <audio id="player3" preload="none" controls style="max-width: 100%">
                  <source src="http://www.largesound.com/ashborytour/sound/AshboryBYU.mp3" type="audio/mp3">
              </audio>
          </div>
          </div>

        </div>
        <div class="col-12 col-sm-6 col-lg-4 mb-5">
          
          <div class="sermon element-animate">
            <img src="./assets/img/img_3.jpg" alt="" class="img-fluid">
            <div class="sermon-text">
          <h2><a href="#">Jehovah the Creator</a></h2>
          <p class="sermon-meta">by <a href="#">Luis Matthew</a> on March 28, 2018</p>
          </div>
          <div class="player">
              <audio id="player4" preload="none" controls style="max-width: 100%">
                  <source src="http://www.largesound.com/ashborytour/sound/AshboryBYU.mp3" type="audio/mp3">
              </audio>
          </div>
          </div>

        </div>
      </div>
    </div>
  </section>
