<section class="section bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-4 mb-4 element-animate">
          <div class="media custom-media">
            <div class="icon mr-3"><span class="fa fa-heart"></span></div>
            <div class="media-body">
              <h3 class="mt-0"><a href="#">Love One Another </a></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed obcaecati, totam recusandae iure non nemo.</p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-4 element-animate">
          <div class="media custom-media">
            <div class="icon mr-3"><span class="fa fa-gift"></span></div>
            <div class="media-body">
              <h3 class="mt-0"><a href="#">Support Us</a></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed obcaecati, totam recusandae iure non nemo.</p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-4 element-animate">
          <div class="media custom-media">
            <div class="icon mr-3"><span class="fa fa-envelope"></span></div>
            <div class="media-body">
              <h3 class="mt-0"><a href="#">Prayer Request</a></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed obcaecati, totam recusandae iure non nemo.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
